html {
	font-size: 62.5%;
	font-family: "Times New Roman", Times, serif;
	overflow-x: hidden;
	color: black;
}
html,
body {
	margin: 0;
}
.button {
	cursor: pointer;
}
.BlockHeader {
	margin: 0;
	text-align: center;
	font-size: 300%;
}
.ProjectSelector {
	position: absolute;
	height: 30vh;
	width: 6vw;
	top: calc(50% - 15vh);
	z-index: 1;
}

.Project {
	position: absolute;
	width: 100vw;
	height: 100%;
}

.ProjectOverview {
	width: 80%;
	margin-top: 3%;
	margin-left: 10%;
}
.OverviewImage {
	height: 40vh;
	width: 40vw;
}
.OverviewText {
	position: relative;
	left: 45vw;
	top: -40vh;
	font-size: 200%;
	width: 20vw;
	height: auto;
	min-height: 35vh;
}
.ProjectInteraction {
	position: absolute;
	/* Style the text inside of the buttons */
	background-color: gray;
	color: black;
	text-decoration: none;
	/* Center the text inside of the buttons */
	display: flex;
	justify-content: center;
	align-items: center;
	/* Style the buttons*/
	width: 10vw;
	height: 5vh;
	cursor: pointer;
}
.Links {
	position: absolute;
	bottom: 0;
	left: calc(50% - 5vw);
}
.Link {
	top: 6vh;
}
.Code {
	top: 12vh;
}

#PopupBackground {
	/* Used in place of a filter because filter was giving me some trouble */
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: 0.5;
	z-index: 2;
	cursor: initial;
}
.ProjectPopup {
	visibility: hidden;
	position: fixed;
	background-color: white;
	top: 8vh;
	left: 8vw;
	height: 86.4vh;
	width: 80vw;
	z-index: 3;
}
.close {
	position: absolute;
	right: 2%;
	top: 2%;
	font-size: 500%;
	color: gray;
	cursor: pointer;
}
.ImageBlock {
	display: block;
	width: 36.5vw;
	height: 50vh;
	padding-left: 1vw;
	padding-top: 3vh;
}
.ImageBar {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	/* Not auto to keep image sizes constant */
	/* Images resized and scrollbar hidden when needed */
	overflow-x: scroll;
}
.NoScrollbar {
	height: 17%;
	overflow-x: auto;
}
.sampleimage {
	height: calc(100% - 0.6vw - 2px);
	margin: 1px;
	background: white;
	cursor: pointer;
}
.selectedimage {
	border-style: solid;
	border-width: 0.3vw;
	border-color: black;
	cursor: default;
}
.activeimage {
	width: 100%;
	height: 80%;
}
.sectionheader {
	font-size: 250%;
	text-align: center;
}
.descriptionheader {
	margin-bottom: 1rem;
}
.description {
	position: absolute;
	font-size: 200%;
	width: 30%;
	right: 15%;
	top: -4vh;
}
.techstack {
	font-size: 150%;
}
.tools {
	font-size: 150%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}
.ToolLogo {
	height: 100px;
}

.Indicator {
	display: block;
	height: 1.5vh;
	width: 1.5vh;
	background-color: black;
	margin: 2px;
	opacity: 0.5;

	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
}
.IndicatorSelected {
	opacity: 1;
}
.Paragraph {
	text-indent: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#Heading {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 1.5em;
	font-size: 400%;
	background-color: black;
	color: white;
}
#NavButton {
	/* Make image have a fixed position on the right side of the screen */
	position: fixed;
	width: 5rem;
	height: auto;
	top: 4px;
	right: 1%;

	/* Make image have a box only on the circular image */
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
}
#ProjectBlock {
	background-color: lightgray;
	background: linear-gradient(135deg, gray, lightgray 100%);
	height: calc(100vh - 1.5em * 4);
}
#ProjectHeading {
	padding-top: 2vh;
}
#MoveToPreviousProject {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	left: 1rem;
	cursor: pointer;
}
#MoveToNextProject {
	right: 1rem;
}

#Projects {
	height: calc(90% - 2vh - 1.5em);
	position: absolute;
	left: -100vw;
	width: 300vw;
	overflow: block;
}
#PreviousProject {
	left: 0vw;
}
#ActiveProject {
	left: 100vw;
}
#NextProject {
	left: 200vw;
}
/* Moves project block right and left */
@keyframes Slide_Right {
	0% {
		left: -100vw;
	}
	25% {
		left: -70vw;
	}
	50% {
		left: -40vw;
	}
	75% {
		left: -20vw;
	}
	100% {
		left: 0vw;
	}
}
@keyframes Slide_Left {
	0% {
		left: -100vw;
	}
	25% {
		left: -130vw;
	}
	50% {
		left: -160vw;
	}
	75% {
		left: -180vw;
	}
	100% {
		left: -200vw;
	}
}

.MoveLeft {
	animation-name: Slide_Left;
	animation-duration: 700ms;
	animation-timing-function: linear;
}
.MoveRight {
	animation-name: Slide_Right;
	animation-duration: 700ms;
	animation-timing-function: linear;
}

/* This is the id and classes used to make the small dots that indicate what project the user is viewing*/
#ProjectIndicator {
	position: absolute;
	left: 40%;
	width: 20%;
	bottom: 0%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
/* Prevent scrolling when a popup opens*/
.PopupOpen {
	overflow: block;
}
