html{
    font-size: 62.5%;
}
h1{
    text-align: center;
    font-size: 300%;
}
.button{
    cursor: pointer;
}
#NavButton{
    /* Make image have a fixed position on the right side of the screen */
    position: fixed;
    top: 1%;
    right: 1%;

    /* Make image have a box only on the circular image */
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}